
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background: #7f919c;
  scroll-behavior: smooth;
}


section.hero {
  padding: 30px 0 0;
  min-height: 80vh;
  background: #7f919c;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto 0;
}
section.hero article {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  margin: 0 auto;
}
section.hero article div {
  width: 100%;
}
section.hero div {
  padding: 20px;
  background: url("https://images.unsplash.com/photo-1567095716798-1d95d8f4c479?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80") fixed center no-repeat;
  color: #27999d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.hero div:last-of-type {
  text-align: right;
}
section.hero .big-text {
  margin: 0;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 600;
}
section.hero .small-text {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  transition: 2s;
}
section.hero .small-text:hover {
  opacity: 1;
  color: #64b2b1;
}

section {
  background: lightgray;
  width: 100%;
  padding: 50px 20px;
}
section .orange-title {
  color: white;
  background: #f26429;
}
section .blue-title {
  color: white;
  background: #52c1de;
}
section .yellow-title {
  color: #222;
  background: #fdde35;
}
section h2 {
  color: #056f7d;
  font-size: 1.75rem;
  font-weight: 300;
  width: 100%;
  padding: 10px 20px;
}


#projects {
  display: flex;
  flex-direction: column;
}
#projects .container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: center;
  align-items: left;
  margin: 0 auto;
}
#projects .container a.lonely-link {
  margin: 0 auto;
  color: #eee;
  text-align: center;
  background: #222;
  width: 250px;
  padding: 15px 10px;
  text-decoration: none;
}
#projects .container a.lonely-link::after {
  content: " »";
}








/*Animation of the title*/

@keyframes titleIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Navbar*/












.container {
  display: grid;
   grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  background: transparent;
 
}

.container > div  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  display: none;
  position: absolute;
  color: white;
}

 img {
  border-radius: 10px;
  padding: 5px;
}

.container > div:hover {
  transform: scale(1.1);
}
.container > div:hover .description {
  display: block;
  text-align: center;
}

.container > div:hover img {
  opacity: 0.7;
}
.container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #20263f;
}
.btn {
 
 margin: auto;
 display: flex;
padding: 10px;

}
a{
  text-decoration: none;
  color: white;
}