<main>
	<section class="hero" id="welcome-section">
		<article>
			<div class="big-text">
				Diptanu<br>Baidya
			</div>
			<div class="small-text">
				HTML<br>
				CSS <br>
				JS<br>
                Java
			</div>
		</article>
	</section>

	<section id="projects">
		<div class="container">
			<h2 class="orange-title">HTML / CSS / ANGULAR / JAVAProjects</h2>
		</div>
	</section>


</main>



<section class="container my-5" style="margin: auto;">
       
    <div>
        <img src="../../assets/project/pr1.jpg" alt="HTML" />
        <span class="description">Goldex Watch</span>
    </div>
    <div>
        <img src="../../assets/project/ang1.jpg" alt="CSS">
        <span class="description">Book Shop</span>
    </div>
    <div>
        <img src="../../assets/project/port.jpg" alt="Portfolio">
        <span class="description">My Portfolio</span>
    </div>
    <div>
        <img src="../../assets/project/dbp.jpg" alt="Photography">
        <span class="description">My Photography</span>
    </div>
    <div>
        <img src="../../assets/project/html1.jpg" alt="Coder">
        <span class="description">Codigg</span>
    </div>
    <div >
        <img  src="../../assets/project/clg.jpg" alt="College">
        <span class="description">College Demo</span>
    </div>

  </section>
  <div>
    <button type="button" class="btn btn-outline-primary" ><a href="https://github.com/Diptanu12?tab=repositories" target="_blank">Click For See More Details</a></button>
</div>