<section class="site-section" id="section-contact">

  <div class="contact-info">
    <div class="card">
      <i class="icon fa fa-envelope"></i>
      <div class="card-content">
        <h3>Email</h3>
        <span>diptanubaidya4@gmail.com</span>
      </div>
    </div>
  
    <div class="card">
      <i class="icon fa fa-phone"></i>
      <div class="card-content">
        <h3>Phone Number</h3>
        <span>+91-9366609069</span>
      </div>
    </div>
  
    <div class="card">
      <i class="icon fas fa fa-map-marker"></i>
      <div class="card-content">
        <h3>Location</h3>
        <span>Tripura, India</span>
      </div>
    </div>
  </div>

  <div class="container my-2">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2>Get <strong>In Touch</strong></h2>
        </div>
      </div>

      <div class="contain1 bck4 my-2 p-4 ">
        <h2 style="text-align: center;">Contact Us</h2>
        <form>
          <div class="form-group">
            <label for="FormControlInput1">Name</label>
            <input type="text" name="nm" class="form-control" id="nm" ngModel placeholder="Type Your Name Here"
              required>
          </div>

          <div class="form-group">
            <label for="FormControlInput2">Phone Number</label>
            <input type="text" name="ph" class="form-control" ngModel id="ph" placeholder="Enter Your Number Here"
              required>

          </div>

          <div class="form-group">
            <label for="FormControlInput3">Email address</label>
            <input type="email" name="eml" class="form-control" id="eml" placeholder="name@example.com" required email>

          </div>

          <div class="form-group">
            <label for="FormControlInput4">Write to Us</label>

            <textarea id="ara" name="ara" cols="45" class="form-control" rows="2"
              placeholder="Tell Us something about you" required></textarea>
          </div>

          <div>
            <button type="submit" class="btn btn-success my-3">Submit</button>
          </div>
        </form>
      </div>

      
    </div>
  </div>
</section>