

<section class="container my-5">
       
  <div>
      <img src="../../assets/html.webp" alt="HTML" />
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/css.jpg" alt="CSS">
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/boot.jpg" alt="Bootstrap">
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/javascript.jpg" alt="Javascript">
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/typescript.png" alt="Typescript">
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/ang.jpg" alt="Angular">
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/java.webp" alt="Core Java">
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/spring.webp" alt="Spring Boot">
      <span class="description" style="font-size:150%;color:rgb(220, 248, 97);">&starf;&starf;&starf;</span>
  </div>
  <div>
      <img src="../../assets/mysql.jpg" alt="MySQL">
      <span class="description" style="font-size:150%;color:rgb(8, 199, 50);">&starf;&starf;&starf;&starf;&starf;</span>
  </div>
 
 

 
</section>