<div class="container">

<div class="row py-lg-5 " style="text-align: center;">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light" style="color: white;"><strong>Certification</strong> </h1>
    <p class="lead text" style="color: white;"><b>Certification is the process of verifying that a person, product, or service meets certain standards. It is a formal attestation or confirmation of certain characteristics of an object, person, or organization. This confirmation is often, but not always, provided by some form of external review, education, assessment, or audit.</b>.</p>
  </div>
</div>
</div>



<div class="container">

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/10th scl b.jpg" alt="10th">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/12th scl a.jpg" alt="12th">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/java full edubridge.jpg" alt="java">
		</div>
		
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/in.jpeg" alt="web">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/apti edu.jpg" alt="aptitude">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/java-greatlearnibg.jpg" alt="gl">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/FULL STACK - UDMEY.jpg" alt="udemy">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/masai boot.jpg" alt="boot">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/masai.jpg" alt="web">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/infosys angular.jpg" alt="web">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/infosys java.jpg" alt="web">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/MySql_Infosys.jpg" alt="mysql">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/so.jpeg" alt="solo">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/UX-Infosys_page-0001.jpg" alt="ux">
		</div>

    <div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/free.jpeg" alt="aptitude">
		</div>
    <div class="gallery-item">
			<img class="gallery-image" src="../../assets/certificate/managment-greatL.jpg" alt="aptitude">
		</div>
	</div>

</div>